<%- include("header") -%>
     <div class="box" id="heading">
        <h1> <%= kindOfDay %> </h1>
     </div>
    

<div class="box">
    
   <% newItem.forEach((item)=>{ %>
    <form action="/delete" method="post">
        <div class="item">
            <input type="checkbox" name="checkbox" value="<%= item.name %>" onchange="this.form.submit()">
            <p><%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= kindOfDay %>">
    </form>
        
    <% }) %>

<!-- qwert -->
    <form action="/" method="post">
        <input type="text" name="Newitem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="btn" value="<%= kindOfDay %>">+</button>
    </form>
</div>
<%- include("footer") -%>